In [1]:
import pandas as pd
import os

In [19]:
lower_traveler_region = open("lower_traveler_region.txt", "r", encoding="utf-8")
temp = lower_traveler_region.readlines()
# print(lower_traveler_region.readlines())

In [20]:
lower_traveler_region_list = [low_region.replace('\n', '') for low_region in temp]
lower_traveler_region_list

['연천군',
 '강화군',
 '평창군',
 '제천시',
 '정선군',
 '태안군',
 '단양군',
 '옥천군',
 '거창군',
 '고창군',
 '고령군',
 '남원시',
 '신안군',
 '하동군',
 '영도구']

In [27]:
house_total_score = pd.read_csv("total_score/house_total_score.csv")
house_total_score["dummy"] = 1

In [28]:
cond_house_total_score_low_region = house_total_score["city"].isin(lower_traveler_region_list)
house_total_score_low_region = house_total_score.loc[cond_house_total_score_low_region]

In [30]:
house_pivot = house_total_score_low_region.pivot_table(index="cat3", values="dummy", aggfunc="sum").reset_index()

In [31]:
house_total_score = pd.read_csv("total_score/restaurant_total_score.csv")
house_total_score["dummy"] = 1

cond_house_total_score_low_region = house_total_score["city"].isin(lower_traveler_region_list)
house_total_score_low_region = house_total_score.loc[cond_house_total_score_low_region]

restaurant_pivot = house_total_score_low_region.pivot_table(index="cat3", values="dummy", aggfunc="sum").reset_index()
restaurant_pivot

        cat3  dummy
0  A05020100    242
1  A05020200     13
2  A05020300      8
3  A05020400     10
4  A05020700      2
5  A05020900     67

In [33]:
house_total_score = pd.read_csv("total_score/tour_place_total_score.csv")
house_total_score["dummy"] = 1

cond_house_total_score_low_region = house_total_score["city"].isin(lower_traveler_region_list)
house_total_score_low_region = house_total_score.loc[cond_house_total_score_low_region]

tour_place_pivot = house_total_score_low_region.pivot_table(index="cat3", values="dummy", aggfunc="sum").reset_index()
tour_place_pivot

         cat3  dummy
0   A02020200      4
1   A02020300      6
2   A02020400      2
3   A02020500      1
4   A02020600      9
5   A02020700      9
6   A02020800      1
7   A02030100     27
8   A02030200      2
9   A02030400     15
10  A02030600      1
11  A02060100     12
12  A02060200      2
13  A02060300     10
14  A02060500      3
15  A02060600      1
16  A02060900      2
17  A02061000      2
18  A02061200      1
19  A02061400      1
20  A03020300      1
21  A03020600      2
22  A03020700      1
23  A03021100      2
24  A03021400      2
25  A03021600      1
26  A03021700     25
27  A03022100      3
28  A03022600      3
29  A03022700     15
30  A03030100      3
31  A03030500      4
32  A03030600      2
33  A03040200      1
34  A03040300      9
35  A03050100      1
36  A04010200      4
37  A04010600      2
38  A04010700      4
39  A04011000      3

In [35]:
total_pivot = pd.DataFrame()

total_pivot = pd.concat([total_pivot, house_pivot])
total_pivot = pd.concat([total_pivot, restaurant_pivot])
total_pivot = pd.concat([total_pivot, tour_place_pivot])

total_pivot.sort_values(by="dummy", ascending=False)

         cat3  dummy
0   A05020100    242
5   A05020900     67
7   A02030100     27
26  A03021700     25
9   A02030400     15
29  A03022700     15
3   B02010700     13
1   A05020200     13
11  A02060100     12
3   A05020400     10
13  A02060300     10
4   A02020600      9
34  A03040300      9
5   A02020700      9
2   A05020300      8
0   B02010100      6
1   A02020300      6
4   B02010900      6
31  A03030500      4
36  A04010200      4
38  A04010700      4
0   A02020200      4
30  A03030100      3
28  A03022600      3
27  A03022100      3
14  A02060500      3
39  A04011000      3
5   B02011600      3
2   A02020400      2
16  A02060900      2
17  A02061000      2
2   B02010600      2
37  A04010600      2
21  A03020600      2
23  A03021100      2
24  A03021400      2
4   A05020700      2
12  A02060200      2
8   A02030200      2
32  A03030600      2
35  A03050100      1
33  A03040200      1
1   B02010500      1
3   A02020500      1
6   A02020800      1
15  A02060600      1
25  A03021600      1
22  A03020700      1
20  A03020300      1
19  A02061400      1
18  A02061200      1
10  A02030600      1

In [36]:
df_codes = pd.read_csv("search_score/df_codes.csv")
df_codes

     Unnamed: 0       code subcategory
0             0  A01010100        국립공원
1             1  A01010200        도립공원
2             2  A01010300        군립공원
3             3  A01010400           산
4             4  A01010500     자연생태관광지
..          ...        ...         ...
147         147  A05020300          일식
148         148  A05020400          중식
149         149  A05020700       이색음식점
150         150  A05020900     카페/전통찻집
151         151  A05021000          클럽

[152 rows x 3 columns]

In [38]:
total_pivot_decoded = pd.merge(total_pivot, df_codes, left_on="cat3", right_on="code", how="left")
total_pivot_decoded

         cat3  dummy  Unnamed: 0       code   subcategory
0   B02010100      6         126  B02010100          관광호텔
1   B02010500      1         127  B02010500         콘도미니엄
2   B02010600      2         128  B02010600         유스호스텔
3   B02010700     13         129  B02010700            펜션
4   B02010900      6         130  B02010900            모텔
5   B02011600      3         135  B02011600            한옥
6   A05020100    242         145  A05020100            한식
7   A05020200     13         146  A05020200           서양식
8   A05020300      8         147  A05020300            일식
9   A05020400     10         148  A05020400            중식
10  A05020700      2         149  A05020700         이색음식점
11  A05020900     67         150  A05020900       카페/전통찻집
12  A02020200      4          30  A02020200          관광단지
13  A02020300      6          31  A02020300      온천/욕장/스파
14  A02020400      2          32  A02020400         이색찜질방
15  A02020500      1          33  A02020500          헬스투어
16  A02020600      9          34  A02020600          테마공원
17  A02020700      9          35  A02020700            공원
18  A02020800      1          36  A02020800     유람선/잠수함관광
19  A02030100     27          37  A02030100     농.산.어촌 체험
20  A02030200      2          38  A02030200          전통체험
21  A02030400     15          40  A02030400          이색체험
22  A02030600      1          41  A02030600          이색거리
23  A02060100     12          53  A02060100           박물관
24  A02060200      2          54  A02060200           기념관
25  A02060300     10          55  A02060300           전시관
26  A02060500      3          57  A02060500        미술관/화랑
27  A02060600      1          58  A02060600           공연장
28  A02060900      2          61  A02060900           도서관
29  A02061000      2          62  A02061000          대형서점
30  A02061200      1          64  A02061200           영화관
31  A02061400      1          66  A02061400            학교
32  A03020300      1          90  A03020300           경기장
33  A03020600      2          93  A03020600            카트
34  A03020700      1          94  A03020700            골프
35  A03021100      2          98  A03021100            승마
36  A03021400      2         101  A03021400           썰매장
37  A03021600      1         103  A03021600           사격장
38  A03021700     25         104  A03021700     야영장,오토캠핑장
39  A03022100      3         107  A03022100           ATV
40  A03022600      3         111  A03022600    스키(보드) 렌탈샵
41  A03022700     15         112  A03022700           트래킹
42  A03030100      3         113  A03030100     윈드서핑/제트스키
43  A03030500      4         117  A03030500          민물낚시
44  A03030600      2         118  A03030600          바다낚시
45  A03040200      1         122  A03040200         초경량비행
46  A03040300      9         123  A03040300  헹글라이딩/패러글라이딩
47  A03050100      1         125  A03050100        복합 레포츠
48  A04010200      4         137  A04010200          상설시장
49  A04010600      2         141  A04010600       전문매장/상가
50  A04010700      4         142  A04010700         공예/공방
51  A04011000      3         144  A04011000         사후면세점

In [41]:
total_pivot_decoded.sort_values(by="dummy", ascending=False)[["cat3", "dummy", "subcategory"]].to_csv("total_pivot_decoded.csv")

In [43]:
total_pivot_decoded_v2 = total_pivot_decoded.sort_values(by="dummy", ascending=False)[["cat3", "dummy", "subcategory"]]
total_pivot_decoded_v2

         cat3  dummy   subcategory
6   A05020100    242            한식
11  A05020900     67       카페/전통찻집
19  A02030100     27     농.산.어촌 체험
38  A03021700     25     야영장,오토캠핑장
21  A02030400     15          이색체험
41  A03022700     15           트래킹
3   B02010700     13            펜션
7   A05020200     13           서양식
23  A02060100     12           박물관
9   A05020400     10            중식
25  A02060300     10           전시관
16  A02020600      9          테마공원
46  A03040300      9  헹글라이딩/패러글라이딩
17  A02020700      9            공원
8   A05020300      8            일식
0   B02010100      6          관광호텔
13  A02020300      6      온천/욕장/스파
4   B02010900      6            모텔
43  A03030500      4          민물낚시
48  A04010200      4          상설시장
50  A04010700      4         공예/공방
12  A02020200      4          관광단지
42  A03030100      3     윈드서핑/제트스키
40  A03022600      3    스키(보드) 렌탈샵
39  A03022100      3           ATV
26  A02060500      3        미술관/화랑
51  A04011000      3         사후면세점
5   B02011600      3            한옥
14  A02020400      2         이색찜질방
28  A02060900      2           도서관
29  A02061000      2          대형서점
2   B02010600      2         유스호스텔
49  A04010600      2       전문매장/상가
33  A03020600      2            카트
35  A03021100      2            승마
36  A03021400      2           썰매장
10  A05020700      2         이색음식점
24  A02060200      2           기념관
20  A02030200      2          전통체험
44  A03030600      2          바다낚시
47  A03050100      1        복합 레포츠
45  A03040200      1         초경량비행
1   B02010500      1         콘도미니엄
15  A02020500      1          헬스투어
18  A02020800      1     유람선/잠수함관광
27  A02060600      1           공연장
37  A03021600      1           사격장
34  A03020700      1            골프
32  A03020300      1           경기장
31  A02061400      1            학교
30  A02061200      1           영화관
22  A02030600      1          이색거리

In [45]:
def to_cat2(row):
    return row[:-4]

def to_cat1(row):
    return row[:-6]

total_pivot_decoded_v2["cat2"] = total_pivot_decoded_v2["cat3"].apply(to_cat2)
total_pivot_decoded_v2["cat1"] = total_pivot_decoded_v2["cat3"].apply(to_cat1)
total_pivot_decoded_v2

         cat3  dummy   subcategory   cat2 cat1
6   A05020100    242            한식  A0502  A05
11  A05020900     67       카페/전통찻집  A0502  A05
19  A02030100     27     농.산.어촌 체험  A0203  A02
38  A03021700     25     야영장,오토캠핑장  A0302  A03
21  A02030400     15          이색체험  A0203  A02
41  A03022700     15           트래킹  A0302  A03
3   B02010700     13            펜션  B0201  B02
7   A05020200     13           서양식  A0502  A05
23  A02060100     12           박물관  A0206  A02
9   A05020400     10            중식  A0502  A05
25  A02060300     10           전시관  A0206  A02
16  A02020600      9          테마공원  A0202  A02
46  A03040300      9  헹글라이딩/패러글라이딩  A0304  A03
17  A02020700      9            공원  A0202  A02
8   A05020300      8            일식  A0502  A05
0   B02010100      6          관광호텔  B0201  B02
13  A02020300      6      온천/욕장/스파  A0202  A02
4   B02010900      6            모텔  B0201  B02
43  A03030500      4          민물낚시  A0303  A03
48  A04010200      4          상설시장  A0401  A04
50  A04010700      4         공예/공방  A0401  A04
12  A02020200      4          관광단지  A0202  A02
42  A03030100      3     윈드서핑/제트스키  A0303  A03
40  A03022600      3    스키(보드) 렌탈샵  A0302  A03
39  A03022100      3           ATV  A0302  A03
26  A02060500      3        미술관/화랑  A0206  A02
51  A04011000      3         사후면세점  A0401  A04
5   B02011600      3            한옥  B0201  B02
14  A02020400      2         이색찜질방  A0202  A02
28  A02060900      2           도서관  A0206  A02
29  A02061000      2          대형서점  A0206  A02
2   B02010600      2         유스호스텔  B0201  B02
49  A04010600      2       전문매장/상가  A0401  A04
33  A03020600      2            카트  A0302  A03
35  A03021100      2            승마  A0302  A03
36  A03021400      2           썰매장  A0302  A03
10  A05020700      2         이색음식점  A0502  A05
24  A02060200      2           기념관  A0206  A02
20  A02030200      2          전통체험  A0203  A02
44  A03030600      2          바다낚시  A0303  A03
47  A03050100      1        복합 레포츠  A0305  A03
45  A03040200      1         초경량비행  A0304  A03
1   B02010500      1         콘도미니엄  B0201  B02
15  A02020500      1          헬스투어  A0202  A02
18  A02020800      1     유람선/잠수함관광  A0202  A02
27  A02060600      1           공연장  A0206  A02
37  A03021600      1           사격장  A0302  A03
34  A03020700      1            골프  A0302  A03
32  A03020300      1           경기장  A0302  A03
31  A02061400      1            학교  A0206  A02
30  A02061200      1           영화관  A0206  A02
22  A02030600      1          이색거리  A0203  A02

In [62]:
codes = open("search_score/search_dict.txt", 'r', encoding="utf-8")
codes_temp = (codes.readlines())

df_codes_v2 = pd.DataFrame()

for i, temp in enumerate(codes_temp):
#     print(temp.split('\t'))
    df_codes_v2[i] = temp.split('\t')
    
df_codes_v2 = df_codes_v2.T
df_codes_v2

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_34748\1450163032.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_codes_v2[i] = temp.split('\t')

             0   1      2          3
0    A01010100  자연  자연관광지     국립공원\n
1    A01010200  자연  자연관광지     도립공원\n
2    A01010300  자연  자연관광지     군립공원\n
3    A01010400  자연  자연관광지        산\n
4    A01010500  자연  자연관광지  자연생태관광지\n
..         ...  ..    ...        ...
147  A05020300  음식    음식점       일식\n
148  A05020400  음식    음식점       중식\n
149  A05020700  음식    음식점    이색음식점\n
150  A05020900  음식    음식점  카페/전통찻집\n
151  A05021000  음식    음식점       클럽\n

[152 rows x 4 columns]

In [64]:
df_codes_v2["cat2"] = df_codes_v2[0].apply(to_cat2)
df_codes_v2["cat1"] = df_codes_v2[0].apply(to_cat1)
df_codes_v2

             0   1      2          3   cat2 cat1
0    A01010100  자연  자연관광지     국립공원\n  A0101  A01
1    A01010200  자연  자연관광지     도립공원\n  A0101  A01
2    A01010300  자연  자연관광지     군립공원\n  A0101  A01
3    A01010400  자연  자연관광지        산\n  A0101  A01
4    A01010500  자연  자연관광지  자연생태관광지\n  A0101  A01
..         ...  ..    ...        ...    ...  ...
147  A05020300  음식    음식점       일식\n  A0502  A05
148  A05020400  음식    음식점       중식\n  A0502  A05
149  A05020700  음식    음식점    이색음식점\n  A0502  A05
150  A05020900  음식    음식점  카페/전통찻집\n  A0502  A05
151  A05021000  음식    음식점       클럽\n  A0502  A05

[152 rows x 6 columns]

In [69]:
total_pivot_decoded_v3 = pd.merge(total_pivot_decoded_v2, df_codes_v2[[1, 2, 0]], left_on="cat3", right_on=0, how="left")
total_pivot_decoded_v4 = total_pivot_decoded_v3[["subcategory", 2, 1, "dummy"]]
total_pivot_decoded_v4

     subcategory       2             1  dummy
0             한식     음식점            음식    242
1        카페/전통찻집     음식점            음식     67
2      농.산.어촌 체험   체험관광지  인문(문화/예술/역사)     27
3      야영장,오토캠핑장  육상 레포츠           레포츠     25
4           이색체험   체험관광지  인문(문화/예술/역사)     15
5            트래킹  육상 레포츠           레포츠     15
6             펜션    숙박시설            숙박     13
7            서양식     음식점            음식     13
8            박물관    문화시설  인문(문화/예술/역사)     12
9             중식     음식점            음식     10
10           전시관    문화시설  인문(문화/예술/역사)     10
11          테마공원   휴양관광지  인문(문화/예술/역사)      9
12  헹글라이딩/패러글라이딩  항공 레포츠           레포츠      9
13            공원   휴양관광지  인문(문화/예술/역사)      9
14            일식     음식점            음식      8
15          관광호텔    숙박시설            숙박      6
16      온천/욕장/스파   휴양관광지  인문(문화/예술/역사)      6
17            모텔    숙박시설            숙박      6
18          민물낚시  수상 레포츠           레포츠      4
19          상설시장      쇼핑            쇼핑      4
20         공예/공방      쇼핑            쇼핑      4
21          관광단지   휴양관광지  인문(문화/예술/역사)      4
22     윈드서핑/제트스키  수상 레포츠           레포츠      3
23    스키(보드) 렌탈샵  육상 레포츠           레포츠      3
24           ATV  육상 레포츠           레포츠      3
25        미술관/화랑    문화시설  인문(문화/예술/역사)      3
26         사후면세점      쇼핑            쇼핑      3
27            한옥    숙박시설            숙박      3
28         이색찜질방   휴양관광지  인문(문화/예술/역사)      2
29           도서관    문화시설  인문(문화/예술/역사)      2
30          대형서점    문화시설  인문(문화/예술/역사)      2
31         유스호스텔    숙박시설            숙박      2
32       전문매장/상가      쇼핑            쇼핑      2
33            카트  육상 레포츠           레포츠      2
34            승마  육상 레포츠           레포츠      2
35           썰매장  육상 레포츠           레포츠      2
36         이색음식점     음식점            음식      2
37           기념관    문화시설  인문(문화/예술/역사)      2
38          전통체험   체험관광지  인문(문화/예술/역사)      2
39          바다낚시  수상 레포츠           레포츠      2
40        복합 레포츠  복합 레포츠           레포츠      1
41         초경량비행  항공 레포츠           레포츠      1
42         콘도미니엄    숙박시설            숙박      1
43          헬스투어   휴양관광지  인문(문화/예술/역사)      1
44     유람선/잠수함관광   휴양관광지  인문(문화/예술/역사)      1
45           공연장    문화시설  인문(문화/예술/역사)      1
46           사격장  육상 레포츠           레포츠      1
47            골프  육상 레포츠           레포츠      1
48           경기장  육상 레포츠           레포츠      1
49            학교    문화시설  인문(문화/예술/역사)      1
50           영화관    문화시설  인문(문화/예술/역사)      1
51          이색거리   체험관광지  인문(문화/예술/역사)      1

In [72]:
category_pivot = total_pivot_decoded_v4.pivot_table(index=2, values="dummy", aggfunc="sum")
category_pivot = category_pivot.reset_index().sort_values(by="dummy", ascending=False)
category_pivot.to_csv("category_pivot.csv")

In [73]:
main_category_pivot = total_pivot_decoded_v4.pivot_table(index=1, values="dummy", aggfunc="sum")
main_category_pivot = main_category_pivot.reset_index().sort_values(by="dummy", ascending=False)
main_category_pivot.to_csv("main_category_pivot.csv")

In [74]:
category_pivot

        2  dummy
6     음식점    342
5  육상 레포츠     55
7   체험관광지     45
0    문화시설     34
9   휴양관광지     32
4    숙박시설     31
2      쇼핑     13
8  항공 레포츠     10
3  수상 레포츠      9
1  복합 레포츠      1

In [75]:
main_category_pivot

              1  dummy
3            음식    342
4  인문(문화/예술/역사)    111
0           레포츠     75
2            숙박     31
1            쇼핑     13