In [1]:
import pandas as pd

df1 = pd.read_csv("A0202_review.csv")
df2 =pd.read_csv("A0203_review.csv")
df3 = pd.read_csv("A0206_review.csv")
df4 = pd.read_csv("A0302_review.csv")
df5 = pd.read_csv("A0303_review.csv")
df6 = pd.read_csv("A0304_review.csv")
df7 = pd.read_csv("A0305_review.csv")
df8 = pd.read_csv("B0201_review.csv")
df9 = pd.read_csv("A0401_review.csv")

In [10]:
import torch
from transformers import BertTokenizer, BertModel
import torch.nn.functional as F

# BERT 토크나이저와 모델 로드
tokenizer = BertTokenizer.from_pretrained('bert-base-multilingual-cased')
model = BertModel.from_pretrained('bert-base-multilingual-cased')

# 유사도 계산 및 결과 기록을 위한 함수 정의
def calculate_similarity(sentence, keywords):
    try:
        # 문장 토큰화 및 BERT 인코딩
        sentence_inputs = tokenizer(sentence, return_tensors="pt")
        sentence_outputs = model(**sentence_inputs)
        sentence_vector = sentence_outputs.last_hidden_state.mean(dim=1)  # 문장 벡터 계산

        similarities = {}

        for keyword in keywords:
            # 키워드 토큰화 및 BERT 인코딩
            keyword_inputs = tokenizer(keyword, padding=True, truncation=True, return_tensors="pt")
            keyword_outputs = model(**keyword_inputs)
            keyword_vector = keyword_outputs.last_hidden_state.mean(dim=1)  # 키워드 벡터 계산

            # 유사도 계산
            similarity = F.cosine_similarity(sentence_vector, keyword_vector)
            similarities[keyword] = similarity.item()

        return similarities
    except Exception as e:
        print(f"Error occurred: {e}")
        return {keyword: 0 for keyword in keywords}

# 데이터프레임의 모든 리뷰에 대해 유사도 계산하고 결과를 데이터프레임에 추가하는 함수 정의
def update_dataframe(df, keywords):
    for idx, row in df.iterrows():
        sentence = row["review"]
        similarities = calculate_similarity(sentence, keywords)
        for keyword, similarity in similarities.items():
            df.at[idx, keyword] = similarity

# 새로운 컬럼 추가를 위한 키워드 정의
keywords = ['힐링하기 좋아요', '독특하고 특색있어요', '자연 경관이 좋아요', '액티비티가 다양해요']

# 데이터프레임의 모든 리뷰에 대해 유사도 계산하고 결과를 업데이트
update_dataframe(df6, keywords)

Error occurred: text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).

In [36]:
# z1 = df1.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
#                aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
#                                                   "액티비티가 다양해요" : "액티비티"}).reset_index()

# z1.to_csv("휴양점수.csv")

In [38]:
# z2 = df2.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
#                aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
#                                                   "액티비티가 다양해요" : "액티비티"}).reset_index()

# z2.to_csv("체험관광지점수.csv")

In [ ]:
# z3 = df3.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
#                aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
#                                                   "액티비티가 다양해요" : "액티비티"}).reset_index()

# z3.to_csv("문화시설점수.csv")

In [3]:
# z9 = df9.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
#                aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
#                                                   "액티비티가 다양해요" : "액티비티"}).reset_index()

# z9.to_csv("쇼핑몰_전통시장점수.csv")

# z9

                   name        혼자      액티비티        자연        힐링
0          (주)퀵실버록시 강릉점  0.496074  0.616944  0.613009  0.606464
1         1LDK SEOUL 청담  0.525047  0.576409  0.626125  0.693152
2              3CE 롯데안산  0.482560  0.560394  0.586557  0.659827
3          4CUS 롯데 영등포점  0.530555  0.584679  0.612220  0.650154
4              8번가위드팜약국  0.469031  0.555183  0.583083  0.630443
...                 ...       ...       ...       ...       ...
2320  휴고보스 롯데 에비뉴엘월드타워점  0.569612  0.641577  0.664194  0.664776
2321        휴고보스 현대 대구점  0.461214  0.523815  0.505892  0.596197
2322        휴고보스 현대 목동점  0.494756  0.594271  0.605083  0.609164
2323        휴고보스 현대 판교점  0.570128  0.597749  0.662996  0.762324
2324     휴고보스 현대아울렛 김포점  0.463746  0.554004  0.558377  0.551234

[2325 rows x 5 columns]

In [ ]:
# z5 = df5.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
#                aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
#                                                   "액티비티가 다양해요" : "액티비티"}).reset_index()

# z5.to_csv("수상레포츠점수.csv")

# z5

In [6]:
# z7 = df7.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
#                aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
#                                                   "액티비티가 다양해요" : "액티비티"}).reset_index()

# z7.to_csv("복합레포츠점수.csv")

# z7

                  name        혼자      액티비티        자연        힐링
0           scg스포츠아카데미  0.624307  0.693164  0.738674  0.803312
1           골든블루 키즈빌리지  0.558153  0.693630  0.663413  0.605018
2   대봉스카이랜드 모노레일 앤 짚라인  0.329732  0.436962  0.437872  0.519373
3                 라플라이  0.574415  0.704866  0.658757  0.623635
4     레전드히어로즈 잠실롯데월드몰점  0.517200  0.683733  0.657230  0.616928
5                 레포밸리  0.575159  0.707070  0.679475  0.633607
6       바운스슈퍼파크 수원영통센터  0.537827  0.684346  0.658031  0.604246
7              샘마을레저파크  0.414984  0.516896  0.513496  0.559133
8                 순담레저  0.520781  0.563769  0.604524  0.658510
9               제주빅볼랜드  0.500821  0.626203  0.612933  0.603873
10            제천 산악체험장  0.558614  0.708570  0.665714  0.604244
11            짚 스카이라운지  0.481832  0.603559  0.582792  0.607316
12          클라임바운스 수원점  0.525507  0.642961  0.636911  0.624221
13          해담마을 수륙양용차  0.557858  0.707243  0.671785  0.619181
14        홍천 가리산 레포츠파크  0.577086  0.679204  0.662839  0.629740

In [9]:
# z8 = df8.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
#                aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
#                                                   "액티비티가 다양해요" : "액티비티"}).reset_index()

# z8.to_csv("숙박시설점수.csv")

# z8

                 name        혼자      액티비티        자연        힐링
0            12월의왈츠펜션  0.541483  0.712151  0.668059  0.592649
1       133파티룸 한옥스테이점  0.522512  0.668873  0.622585  0.586510
2       24게스트하우스 경희대점  0.513795  0.688105  0.638750  0.590717
3       24게스트하우스 서울역점  0.538148  0.665993  0.660555  0.612698
4    2월 호텔 더시그니처 동성로점  0.555867  0.677869  0.671342  0.629474
..                ...       ...       ...       ...       ...
470        휴원(경주한옥휴원)  0.537245  0.698003  0.661522  0.603316
471             흙시루민박  0.566456  0.714859  0.680615  0.632096
472           흥정계곡409  0.563285  0.709770  0.686902  0.660306
473               히로텔  0.513505  0.602119  0.630624  0.691113
474        힐 사이드 관광호텔  0.539757  0.600638  0.624800  0.641384

[475 rows x 5 columns]

In [11]:
z6 = df6.pivot_table(index = 'name', values = ["힐링하기 좋아요", "독특하고 특색있어요", "자연 경관이 좋아요", "액티비티가 다양해요"],
               aggfunc = "mean").rename(columns = {"힐링하기 좋아요" : "힐링", "독특하고 특색있어요" : "혼자", "자연 경관이 좋아요": "자연",
                                                  "액티비티가 다양해요" : "액티비티"}).reset_index()

z6.to_csv("항공레포츠점수.csv")

z6

                 name        혼자      액티비티        자연        힐링
0             공주 경비행기  0.520756  0.613839  0.626285  0.650959
1        군산 패러글라이딩 스쿨  0.583969  0.710168  0.674964  0.656782
2            단양 패러 명가  0.570966  0.705546  0.661991  0.630407
3   단양 패러글라이딩 패러는 내친구  0.612359  0.638452  0.737021  0.867417
4            단양 패러일번지  0.541690  0.680678  0.638706  0.610792
5       단양드림레저 패러글라이딩  0.586179  0.723794  0.703335  0.645627
6            단양패러에반하다  0.565925  0.702705  0.653264  0.599549
7      대천 국가대표 패러글라이딩  0.547579  0.683369  0.641243  0.628756
8           선유 스카이썬라인  0.547299  0.680980  0.656591  0.629407
9           스카이다이브코리아  0.562290  0.683872  0.653496  0.602438
10         양평 미래항공스포츠  0.549879  0.699950  0.651227  0.587580
11             에어 피닉스  0.503914  0.628822  0.581094  0.523651
12       여수국가대표패러글라이딩  0.554787  0.692764  0.642822  0.604046
13      조나단 패러글라이딩 스쿨  0.568901  0.699946  0.670835  0.625060
14           짱 패러글라이딩  0.558312  0.691505  0.678487  0.625083
15              청춘 패러  0.574375  0.714144  0.670032  0.615806
16    케이원항공경비행기조종체험비행  0.513484  0.577257  0.573394  0.551200
17              패러이야기  0.541734  0.693545  0.647284  0.604570
18         합천패러글라이딩파크  0.616042  0.666192  0.718278  0.792594

In [13]:
z9

                   name        혼자      액티비티        자연        힐링
0          (주)퀵실버록시 강릉점  0.496074  0.616944  0.613009  0.606464
1         1LDK SEOUL 청담  0.525047  0.576409  0.626125  0.693152
2              3CE 롯데안산  0.482560  0.560394  0.586557  0.659827
3          4CUS 롯데 영등포점  0.530555  0.584679  0.612220  0.650154
4              8번가위드팜약국  0.469031  0.555183  0.583083  0.630443
...                 ...       ...       ...       ...       ...
2320  휴고보스 롯데 에비뉴엘월드타워점  0.569612  0.641577  0.664194  0.664776
2321        휴고보스 현대 대구점  0.461214  0.523815  0.505892  0.596197
2322        휴고보스 현대 목동점  0.494756  0.594271  0.605083  0.609164
2323        휴고보스 현대 판교점  0.570128  0.597749  0.662996  0.762324
2324     휴고보스 현대아울렛 김포점  0.463746  0.554004  0.558377  0.551234

[2325 rows x 5 columns]

In [42]:
df9 = pd.read_csv("쇼핑몰_전통시장.csv")

pd.merge(df9,z9, on = "name", how = "inner").drop(columns = ["힐링_y","혼자_y","자연_y","액티비티_y"]).sample(7)

,Unnamed: 0,name,review,words,힐링_x,혼자_x,자연_x,액티비티_x,addr1,cat1,cat2,cat3
2279,2279,홈플러스 부천상동,굿\n좋아요\n굿\n이쁜옷들 많아요\n굿\n좋아요\n좋아요\n홈플 친절해요\n굿 \n굿!,옷 홈 굿 굿 홈 옷 옷 홈 굿,X,X,X,X,경기도 부천시 원미구 길주로 118 (상동),A04,A0401,A04011000
2306,2306,홈플러스익스프레스 명륜2호,좋아요\n편리해요\n굿\n좋아요\n세일하길래 사왔는데\r\n조금 잘잘하고 안싱싱하네...,상품 정말 때 할인 유 가면 세 심 잘잘 조금 상품 할인 잘잘 세 심 득템 유 때 ...,X,X,X,X,서울특별시 종로구 혜화로3길 5,A04,A0401,A04011000
1135,1135,아이갤러리안경원 삼성,정말 꼼꼼하게 잘 설명해주세요~~\n친절합니다\n 안경은 실루엣 밖에 착용을 못하는...,피팅 눈 실루엣 정말 코 얼굴 꼭 모양 위치 제 안경 구매 렌즈 설명 눈 일부러 때...,X,X,O,X,서울특별시 강남구 삼성로 626,A04,A0401,A04011000
1130,1130,아리따움 이수,좋아요\n좋아요 \n굿~\n좋아요\n\n가성비좋아요 \n\n품질이 좋아요\n좋아요\...,화장품 비 굿 품질 가성 품질 비 굿 가성 화장품 가성 화장품 굿 비 품질,X,X,O,X,"서울특별시 동작구 동작대로29길 25 (사당동,홍일피아노학원) 1층",A04,A0401,A04011000
535,535,라코스테건대스타시티,직원분이 친절하게 잘 설명해주고 추천도 잘 해줬습니다. 할인할때 잘 산거 같아요~\...,직원 굿 별로 디자인 색깔 품질 쇼핑 설명 추천 무난 무난 추천 쇼핑 설명 직원 품...,X,X,X,X,서울특별시 광진구 능동로 92,A04,A0401,A04011000
41,41,FRED 신세계센텀,3월 가격 인상 예정\n6\n예쁜 쥬얼리 기분좋게 구매했습니다.\n이뻐요 ^^\n넘...,에뻐 선물 가격 예정 쥬얼리 인상 기분 구매 선물 에뻐 쥬얼리 가격 기분 예정 인상...,X,X,X,X,부산광역시 해운대구 센텀남대로 35,A04,A0401,A04011000
1331,1331,영천목탁공예사,선물용으로 목탁이 필요해서 방문했는데 친절하게 설명을 잘해주셔서 감사했어요. 스님도...,제품 죽비 스님 마음 선물 방문 용 설명 목탁 선물 마음 스님 죽비 제품 용 설명 ...,X,X,X,X,경상북도 영천시 언하동 167-1,A04,A0401,A04010700

In [96]:
df1 = pd.read_csv("휴양.csv")
z1 = pd.read_csv("휴양점수.csv")

x1 = pd.merge(df1,z1, on = "name", how = "inner")

x1.sample(3).sort_values("자연_y", ascending=False)

,Unnamed: 0_x,name,review,words,힐링_x,혼자_x,자연_x,액티비티_x,addr1,cat1,cat2,cat3,Unnamed: 0_y,혼자_y,액티비티_y,자연_y,힐링_y
358,358,할아버지동물농장,직원분들도 친절하고 진짜 영유아 작은 동물원 느낌이에요\r\n주말이라 사람이 너무 ...,동물 곳 리트리버 사람 놀이터 먹이 운동 생활 야외 꽤 아이 간식 강아지 안 저희 ...,X,X,X,O,경기도 화성시 우정읍 배미길 50,A02,A0202,A02020600,358,0.583205,0.700718,0.694936,0.658385
239,239,올림픽공원피크닉장,이런 공감은 너무 감사함.\r\n\r\n잘 유지되길.\n햇볕 좋은 가을 날. 쉬기 ...,햇볕 가을 날 공감 유지 방문객 단풍 곳 곳 단풍 방문객 공감 유지 가을 날 햇볕 ...,X,X,X,X,서울특별시 송파구 올림픽로 424,A02,A0202,A02020700,239,0.426424,0.467856,0.475944,0.445409
13,13,가오실공원,굿,굿 굿 굿,X,X,X,X,경상북도 예천군 개포면 가곡리,A02,A0202,A02020700,13,0.278290,0.413124,0.392125,0.487589